# Ignore compiled Python files
*.pyc
__pycache__/
dags/__pycache__
# Ignore local settings file (if any)
.env

# Ignore system files
.DS_Store

# Ignore log files
logs/

# Ignore temporary files
*.log
*.pid
*.state

# Ignore database files
airflow.db
airflow-webserver.db
.airflow/

# Ignore virtual environment directories
.venv/
venv/
env/
virtualenv/

# Ignore Docker related files
.dockerignore
Dockerfile
*.yaml
*.yml

datasets/medical-imaging/input/images/*
!datasets/medical-imaging/input/.gitkeep

datasets/electronic-health-record/input/*.csv
datasets/electronic-health-record/output/*.csv

analytics/electronic_health_record/insights/plots/*.png

architecture/

# Ignore mlartifacts and mlruns
mlruns/
mlartifacts/
